.main-container {
    position: relative;
}

.navigation {
    background: #747880;
    /* Old browsers */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #747880 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #747880));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #747880 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFFFFF 0%, #747880 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFFFFF 0%, #747880 100%);
    /* IE10+ */
    background: linear-gradient(top, #FFFFFF 0%, #747880 100%);
    /* W3C */
    width: 100%;
    height: 2.5em;
    cursor: pointer;
    transition: box-shadow 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}

.navigation:hover {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.splashscreen {
    width: 100%;
}

.top-graphic {
    width: 25%;
}

.grid-container {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto 50% auto;
}

.infotext {
    grid-column: 2;
}

.footer {
    width: 100%;
    position: relative;
}

.bottom-graphic {
    width: 100%;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.poem {
    text-align: center;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
}

p {
    font-size: 1.7em;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
}

a {
    outline: none;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 1.5em;
    transition: text-shadow 0.5s;
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-shadow: 2px 2px 5px green;
}

a:active {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    text-align: center;
    position: relative;
}

html {
    height: 100%;
    width: 100%;
}