.main-container {
	position:relative;
	height: 100%;
	padding-bottom: 15%;
}
.navigation {
	background-color: darkgrey;
	width: 100%;
	height: 2em;
	cursor: pointer;
	transition: box-shadow 0.5s;
}

.navigation:hover {
	box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2);
}

.splashscreen {
	width: 100%;
	height: auto;
}

.top-graphic {
	width: 25%;
	height: auto;
}

.grid-container {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: auto 33% auto;
}

.infotext {
	grid-column: 2;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.bottom-graphic {
	width: 100%;
	height: auto;
}

h1, h2 {
	font-family: 'Dancing Script', cursive;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: auto;
	text-align: center;
	position: relative;
	font-size: 100%;
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 120%;
	}
}

html {
	height: 100vh;
	width: 100vw;
	min-height: 100vh;
}