.main-container {
	position:relative;
}
.navigation {
	background: #747880; /* Old browsers */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #747880 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#747880)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFFFFF 0%,#747880 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFFFFF 0%,#747880 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFFFFF 0%,#747880 100%); /* IE10+ */
    background: linear-gradient(top, #FFFFFF 0%,#747880 100%); /* W3C */
	width: 100%;
	height: 2em;
	cursor: pointer;
	transition: box-shadow 0.5s;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 5px;
}

.navigation:hover {
	box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2);
}

.splashscreen {
	width: 100%;
}

.top-graphic {
	width: 25%;
}

.grid-container {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: auto 33% auto;
}

.infotext {
	grid-column: 2;
}

.footer {
	width: 100%;
	position:relative;
}

.bottom-graphic {
	width: 100%;
}

h1, h2 {
	font-family: 'Dancing Script', cursive;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	height: 100%;
	text-align: center;
	position: relative;
}

html {
	height: 100%;
	width: 100%;
}